.vscode/**
.nyc_output/**
**/*.ts
**/*.map

**/.gitignore
**/tsconfig.json
**/tsconfig.base.json

**/*.tsbuildinfo
**/yarn.lock
**/contributing.md
**/.travis.yml
**/.eslintignore
**/.eslintrc.js
**/.eslintrc.json


readme/**
node_modules/**
tests/**

**/node_modules/@types/**
**/node_modules/**/README.md

publish.sh